$color-black: #101010;
$color-pink: #e91e63;
$color-light-black: rgba(0, 0, 0, 0.87);
$color-white: rgb(230, 224, 224);

$color-light-background: rgba(125, 118, 118, 0.069);
$color-dark-background: rgb(175, 176, 159);

$color-twitter: #2196f3;
$color-facebook: #0064ba;
$color-whatsapp: #52b155;
$color-twitch: #e91e63;
$color-discord: #5865f2;
$color-youtube: #ff0000;
$color-github: #101010;
$color-yellow: #ffb300;
$color-purple: #800080;

$color-dark: #181818;
$color-ash: #f5f5f5;

$bp-largest: 140em;
$bp-large: 79em;
$bp-medium: 60em;
$bp-small: 37.4em;

$color-linear: linear-gradient(to right, rgb(225, 46, 85), rgb(232, 21, 232));
